extends layout

block body
  link(rel="stylesheet" href="/css/index.css")
  .hero-section
    .text-box
      h1 A Place to connect with the world
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis soluta laboriosam optio molestias repudiandae distinctio rerum temporibus doloremque voluptatibus aperiam.
      a(href="/auth/login") Get Started
    